body {
    margin: 0;

    padding: 0;

    font-family: 'Poppins', sans-serif;
}

.Navbar{
    display:flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(207, 207, 207);
    border-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: rgb(148, 202, 218);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.links{
    display:flex;
    gap: 15px;
    padding: 10px;
   
}
.links a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.logo{
    padding: 10px;
}







